.col-1                            {width: 4.66666666667%;}
.col-2                            {width: 13.3333333333%;}
.col-3                            {width: 22%;}
.col-4                            {width: 30.6666666667%;}
.col-5                            {width: 39.3333333333%;}
.col-6                            {width: 48%;}
.col-7                            {width: 56.6666666667%;}
.col-8                            {width: 65.3333333333%;}
.col-9                            {width: 74.0%;}
.col-10                           {width: 82.6666666667%;}
.col-11                           {width: 91.3333333333%;}
.col-12                           {width: 100%; margin-left: 0;}

.col-1-3                          {width: 30.6666666667%;}
.col-2-3                          {width: 65.3333333333%;}
.col-1-2                          {width: 48%;}



header{
  height: 5vh;
  color: #fff;
  background-color: #00A064; 
}


body {
  margin: 0;
  /* Possible use of overflow */
  color: #0F4F34;
  font-family: 'Rockwell';
  font-size: 32px;
  text-align: center;
}

footer{
  color: #fff;
  background-color: #00A064; 
}

#mainImage{
  height: 95vh;
  color: #0F4F34;
  background-color: #3FC283;
}

.row{
  display: grid;
  grid-template-columns: auto auto auto: 
  padding 10px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 10px;
}

.grid-item {
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
</st


/*
#content{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  3 items per row of content div, min of 150 or
  grid-template-rows: repeat(3, minmax(150px, auto));
  grid-gap: 10px;
  max-width: 960px;
  margin: 0 auto;
}

#content div{
  background: #3bbced;
  padding: 30px;
}
*/